
body {
    background: #ffffff url(https://media1.popsugar-assets.com/files/thumbor/UXt-UFbVBar3f_FKvZnEKLby4uc/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2021/01/14/843/n/1922507/10fa7acca6b544e5_simon-berger-twukN12EN7c-unsplash/i/Colorful-Mountains-Zoom-Background.jpg) center center/cover no-repeat;
}

h1 {
  color: rgb(228, 27, 84);
  text-align: center;
  font-weight: bold;
  font-family: Copperplate, Papyrus, fantasy;
}
h2 {
    color: rgb(149, 11, 50);
    text-align: left;
  }
h3 {
    color: rgb(174, 10, 10);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
p {
  font-family: verdana;
  font-size: 20px;
}
header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }   


a:link, a:visited {
    background-color: hsl(348, 86%, 72%);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: hsl(348, 86%, 72%);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #7ea2ac;
    padding: 8px;
    text-align: left;
    font-weight: bold;
}
tr:hover {background-color: coral;}

th {
    background-color: #f2f2f2;
}
#Dane{
    text-align: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-size: 1.2em;
}
#Dane button{
    background-color: hsl(348, 86%, 72%);
    color: white;
    border: 2px solid rgb(228, 27, 84);
    border-radius: 10px;
}
#Dane button:hover{
    background-color: rgb(228, 27, 84);
    color: black;
    border: 2px solid hsl(348, 86%, 72%);
    border-radius: 10px;
}
#maxAge{
    margin-right: 10px;
}
label{
    margin: 0 10px 0 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efbf4d;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(220, 96, 179);
  }
  li a:hover:not(.active) {
    background-color: #ee5fa4;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(12, 8, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  